<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
        <nav>
            <nav>
                <a href="{{ '/about.html' | relative_url }}">Sobre el sitio</a>
                <a href="{{ '/contact.html' | relative_url }}">Contacto</a>
                <a href="{{ '/404.html' | relative_url }}">404</a>                
              </nav>              
          </nav>          
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.author }}</p>
    <p>&copy; {{ site.author }} — Examen final</p>
    <p>
      <a href="https://github.com/Mario-Moreiracz" target="_blank">
        Visita mi repositorio en GitHub
      </a>
    </p>
  </footer>
</body>
</html>
